.clearfix {
  zoom: 1;
}

.clearfix::before, .clearfix::after {
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix::after {
  clear: both;
}

.invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.smallprint {
  margin-top: 3em;
  font-size: var(--font-small);
}

.tagline {
  margin: 0.4em 0 0;
  color: var(--colour-primary);
  font-family: 'Patua One', serif;
  font-size: var(--font-tagline);
}

.nav {
  display: inline;
  float: left;
  margin: 0.7em 1em 0 0;
  font-size: var(--font-nav);
  font-weight: bold;
}

a.nav {
  color: var(--colour-secondary);
}

a.nav:hover, a.nav:active {
  color: var(--colour-tertiary);
}

span.nav {
  color: var(--colour-tertiary);
}

.prediction, .form {
  display: block;
  margin: 1.8em 0 0;
}

a.prediction {
  color: var(--colour-fg);
}

a.prediction:hover, a.prediction:active {
  color: var(--colour-primary);
}

.key {
  margin-right: 0.4em;
  float: left;
  clear: left;
  font-weight: bold;
}

.key::after {
  content: ":";
}

.twitter-container {
  margin-top: 1.8em;
  width: 100%;
}

.chart {
  display: block;
  width: 100%;
  margin-bottom: 1.5em;
}

.chart .axis {
  stroke-width: 2;
  stroke: #000;
}

.chart .bar.this-team {
  fill: var(--colour-tertiary);
}

.chart .bar.other-team {
  fill: var(--colour-secondary);
}

.chart .bar-label {
  fill: #fff;
}
