html {
  font-size: 100.01%;
}

html, body {
  height: 100%;
}

html, body, header, footer, section, article, h1, h2, h3,
p, div, span, a, picture, img, ol, ul, li, dl, dt, dd,
abbr, time, svg, table, tr, th, td, form, label {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  padding: 0 5%;
  background-color: var(--colour-bg);
  color: var(--colour-fg);
  font-family: roboto, tahoma, verdana, freesans, clean, sans-serif;
  font-size: var(--font-base-small);
}

header, footer, section {
  display: block;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  line-height: 1;
  margin-top: 0.4em;
  font-family: 'Patua One', serif;
  font-size: var(--font-title);
  letter-spacing: 0.027em;
  word-spacing: 0.08em;
  color: var(--colour-primary);
}

h2, h3 {
  font-size: var(--font-small);
  margin-bottom: 1.75em;
}

p, td, dd {
  font-weight: normal;
}

p, dt, dd, th, td, li {
  font-size: var(--font-copy);
  word-spacing: 0.1em;
}

h3, p, table {
  margin-bottom: 1.5em;
}

th {
  font-weight: bold;
}

th, td {
  padding: 0.2em 1em 0.2em 0;
  vertical-align: middle;
  text-align: left;
}

li h3, li p, li dt, li dd, li th, li td {
  font-size: var(--font-restore);
}

table {
  box-sizing: border-box;
  border-spacing: 0;
  page-break-inside: avoid;
}

th:last-child, td:last-child {
  padding-right: 0;
}

li {
  list-style: none;
}

a {
  color: var(--colour-primary);
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:active {
  color: var(--colour-secondary);
}

svg {
  margin: 0;
  page-break-inside: avoid;
  width: 100%;
}
