@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: local('Patua One'), local('PatuaOne-Regular'),
    url('../fonts/patua-one-v6-latin-regular.8c89de8c058c59c843009a7a76334d0c42aa5769.woff2') format('woff2'),
    url('../fonts/patua-one-v6-latin-regular.2ed441ea7e766208c9f6ce6a7aeeccfff7e8f66c.woff') format('woff'),
    url('../fonts/patua-one-v6-latin-regular.25f4a1a8f148b930a63ec3df0df05210687617a5ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v16-latin-regular.0a59a3b17c93c1093c2514b3a9d51c91395aabd0.woff2') format('woff2'),
    url('../fonts/roboto-v16-latin-regular.7a4ddb6733c33dfe9ec94c82a5e7f5da885f5182.woff') format('woff'),
    url('../fonts/roboto-v16-latin-regular.0a501f2147cc8cb9d56a27bebe8c296dd454bcec.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto-v16-latin-700.a1118c5362e2dd34ac5cf34e135042c3ad827b58.woff2') format('woff2'),
    url('../fonts/roboto-v16-latin-700.2fc9bb16fbfee39e2559e5cbf5f90b225e0a8b92.woff') format('woff'),
    url('../fonts/roboto-v16-latin-700.d229939f0efef78a73c4be8f8bdaff9cc3c376c4.ttf') format('truetype');
}
