@media (min-width: 540px) {
  .body.constrained {
    width: 53%;
    float: left;
  }

  .twitter-container {
    width: 47%;
    float: right;
  }

  .footer {
    clear: both;
  }
}

@media (min-width: 720px) {
  body {
    padding: 0 10%;
    font-size: var(--font-base);
  }

  .body.constrained {
    width: 60%;
  }

  .twitter-container {
    width: 40%;
  }

  .chart .label {
    font-size: 0.8em;
  }

  .chart .bar-label {
    font-size: 0.6em;
  }
}

@media (min-width: 860px) {
  body {
    padding: 0 5%;
  }

  th, td {
    font-size: 0.9em;
  }

  .form {
    width: 47.5%;
    float: left;
  }

  .form:nth-of-type(2n+1) {
    margin-right: 5%;
    clear: left;
  }
}

@media (min-width: 1024px) {
  body {
    padding: 0 10%;
    font-size: var(--font-base-large);
  }

  .form {
    width: 45%;
    float: left;
  }

  .form:nth-of-type(2n+1) {
    margin-right: 10%;
    clear: left;
  }
}
