:root {
  --colour-bg: #fff;
  --colour-fg: #333;

  --colour-primary-bright: #00a670;
  --colour-primary-light: #009061;
  --colour-primary: #007d54;
  --colour-primary-dim: #006947;
  --colour-primary-dark: #005438;

  --colour-secondary-bright: #f91200;
  --colour-secondary-light: #d91000;
  --colour-secondary: #bb0e00;
  --colour-secondary-dim: #9e0b00;
  --colour-secondary-dark: #7e0900;

  --colour-tertiary-bright: #60dd00;
  --colour-tertiary-light: #53c000;
  --colour-tertiary: #48a600;
  --colour-tertiary-dim: #3d8c00;
  --colour-tertiary-dark: #307000;

  --font-base-small: 100%;
  --font-base: 125%;
  --font-base-large: 150%;

  --font-title: 3.47em;
  --font-tagline: 0.9em;
  --font-nav: 1.1em;
  --font-copy: 0.9em;
  --font-restore: 1em;
  --font-small: 0.8em;
}
