<ol>
{{#each predictions}}
  <li>
    <a
     href="{{path}}"
     class="prediction {{#if isResult}}{{#if isCorrect}}correct{{else}}wrong{{/if}}{{else}}open{{/if}}"
     data-format="{{formatAbbr}}"
     data-timestamp="{{timestamp}}"
     data-home="{{home}}"
     data-away="{{away}}"
     data-is-correct="{{isCorrect}}"
     data-is-result="{{isResult}}"
     data-is-international="{{isInternational}}"
     data-is-domestic="{{isDomestic}}"
     data-is-test="{{isTest}}"
     data-is-limited-overs="{{isLimitedOvers}}"
     data-is-one-day="{{isOneDay}}"
     data-is-twenty20="{{isTwenty20}}"
    >
{{> match}}
    </a>
  </li>
{{/each}}
</ol>
