<svg
 version="1.1"
 viewBox="0 0 {{width}} {{height}}"
 preserveAspectRatio="xMinYMin slice"
 class="chart"
>
  <title>{{homeOrAway}} vs {{otherTeam}}</title>

  <g>
    <title>{{homeTeam}}</title>

    <rect
     width="{{homeLength}}px"
     height="{{barWidth}}px"
     class="bar {{homeClass}}"
    />

    <text
     text-anchor="middle"
     x="{{halve homeLength}}"
     y="{{barLabelOffset}}"
     class="bar-label"
    >
      {{homeScore}}
    </text>
  </g>

  <g transform="translate({{add homeLength padding}})">
    <title>{{awayTeam}}</title>

    <rect
     width="{{awayLength}}px"
     height="{{barWidth}}px"
     class="bar {{awayClass}}"
    />

    <text
     text-anchor="middle"
     x="{{halve awayLength}}"
     y="{{barLabelOffset}}"
     class="bar-label"
    >
      {{awayScore}}
    </text>
  </g>

  <g transform="translate(0, {{add barWidth padding}})">
    <line x1="0" y1="1" x2="{{width}}px" y2="1" class="axis" />

    <text
     text-anchor="middle"
     x="{{halve width}}"
     y="{{labelOffset}}"
     class="label"
    >
      {{homeOrAway}} vs {{otherTeam}}
    </text>
  </g>
</svg>
