<dl>
  <dt class="key">Time</dt>
  <dd class="value">{{date}}</dd>

{{#if format}}
  <dt class="key">Format</dt>
  <dd class="value">{{format}}</dd>
{{/if}}

  <dt class="key">Teams</dt>
  <dd class="value">{{home}} vs {{away}}</dd>

  <dt class="key">Prediction</dt>
  <dd class="value">{{prediction}}</dd>
{{#if isConfident}}

  <dt class="key">Confidence</dt>
  <dd class="value">{{confidence}}%</dd>
{{/if}}{{#if isResult}}

  <dt class="key">Result</dt>
  <dd class="value">{{result}}</dd>
{{/if}}
</dl>
