<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{#if viewTitle}}{{viewTitle}}{{#if appendSiteTitle}} - {{title}}{{/if}}{{else}}{{title}}{{/if}}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{description}}" />
{{#if nobots}}
    <meta name="robots" content="noindex, nofollow" />
{{/if}}

    <link rel="stylesheet" href="/style/main.{{hashes.style.main}}.css" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="favicon-128x128.png" sizes="128x128" />
    <meta name="application-name" content="{{title}}"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

{{#if atomPath}}
    <link rel="alternate" type="application/atom+xml" href="{{atomPath}}" />
    <meta name="msapplication-notification" content="frequency=30;polling-uri=https://TODO{{atomPath}}&amp;id=1;cycle=1" />
{{/if}}
  </head>

  <body>
    <header class="clearfix">
      <h1>{{title}}</h1>

      <p class="tagline">{{tagline}}</p>

      <nav>
        <ul>
{{#each routes}}
{{#if navTitle}}
          <li>
{{#if isLink}}
            <a href="{{path}}" class="nav">
{{else}}
            <span aria-hidden="true" class="nav">
{{/if}}
              {{navTitle}}
{{#if isLink}}
            </a>
{{else}}
            </span>
{{/if}}
          </li>
{{/if}}
{{/each}}
        </ul>
      </nav>
    </header>

{{#if viewTitle}}
    <section class="body clearfix{{#if showTweets}} constrained{{/if}}">
      <h2 class="invisible">{{viewTitle}}</h2>
{{else}}
    <div class="body clearfix">
{{/if}}
      {{{body}}}
{{#if viewTitle}}
    </section>
{{else}}
    </div>
{{/if}}

{{#if showTweets}}
    <div class="twitter-container clearfix">
      <a
       class="twitter-timeline"
       data-theme="light"
       data-link-color="#007d54"
       href="https://twitter.com/CricketForecast?ref_src=twsrc%5Etfw"
      >Tweets by CricketForecast</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
{{/if}}

    <footer class="footer clearfix">
      <p class="smallprint">
        {{#with copyright}}Copyright &copy; {{years}} {{holder}}{{/with}}
      </p>
    </footer>
  </body>
</html>
